/* Reset CSS + Impostazioni generali */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 500;
            scroll-behavior: smooth; /* scorrimento fluido dei link all'interno della pagina */
        }

        body {
            margin-top: 5rem;
        }

        #main {
            margin: 5rem 0;
            padding-top: 5rem;
        }



/* SELETTORI GENERALI (usati in più sezioni della pagina */

        .container-full {
            width: 100%;
        }

        .container-1000 {
            max-width: 1000px;
            margin: 0 auto;
        }

        .container-850 {
            max-width: 850px;
            margin: 5rem auto;
        }

        .container-850 > h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .background-lightblue {
            background-color: #b4d0e7;
        }

        .link-no-button {
            color: #0061ff;
        }

        .link-no-button:hover {
            text-decoration: none;
        }

        .position-relative {
            position: relative;
        }

        .column-half {
            width: 50%
        }

        .top-right-corner {
            position: absolute;
            top: 0;
            right: 0;
        }



/* CLEARFIX PER ELEMENTI FLOAT */
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }



/* BOTTONI */

        .button {
            background-color: #0061ff;
            padding: .5rem 1.5rem;
            color: white;
            text-decoration: none;
            display: inline-block;
        }

        .button:hover {
            background-color: #3b85ff;
        }

        .button-white {
            background-color: white;
            color: black;
            border: 1px solid black;
        }

        .button-white:hover {
            background-color: #eeeeee;
        }

        .button-white-no-border {
            background-color: white;
            color: black;
            padding: .5rem 4rem;
        }

        .button-white-no-border:hover {
            background-color: #eeeeee;
        }



/* HEADER (navbar fissata in alto alla pagina) */

        header {
            width: 100%;
            min-width: 1000px; /* evita che restringendo la pagina la parte dx del menu vada a capo. Utilizzando overflow: hidden il sottomenu non viene visualizzato neanche a schermo pieno */
            height: 5rem;
            position: fixed;
            top: 0;
            background-color: white;
            border-bottom: 1px solid lightgrey;
            z-index: 9;
        }

        header > * {
            line-height: calc(5rem - 4px);
        }

        header .logo-header {
            padding: 0 2.5rem 0 1rem;
            display: inline-block;
        }

        header .logo-header img{
            height: 1.6rem;
            vertical-align: middle;
        }

        .navbar-left {
            float: left;
        }

        .navbar-right {
            float: right;
        }

        .top-menu ul {
            list-style: none;
            font-size: 0;
            display: inline-block;
        }

        .top-menu li {
            font-size: .9rem;
            font-weight: 600;
            display: inline-block;
        }

        .top-menu li:hover {
            border-bottom: 2px solid #3c3c3c;
        }

        .top-menu a {
            display: inline-block;
            text-decoration: none;
            color: black;
            vertical-align: middle;
        }

        .top-menu-left {
            display: inline-block;
        }

        .top-menu-left li:not(:last-child) {
            margin-right: 2.5rem;
        }

        .top-menu-right {
            display: inline-block;
        }

        .top-menu-right li:not(:first-child) {
            margin-left: 2.5rem;
        }

        .start-button {
            display: inline-block;
            padding: 0 1rem 0 2.5rem;
        }

        .start-button .button {
            display: inline;
        }

        .start-button a {
            vertical-align: middle;
            font-size: .8rem;
        }

        /* Sottomenu al passaggio sul tasto "Supporto" */

        .show-submenu .submenu {
            display: none;
        }

        .show-submenu:hover .submenu {
            display: block;
            position: absolute;
            left: -1.5rem;
            top: 5rem;
            background-color: white;
            width: 200px;
        }

        .submenu li:hover {
            border: none;
            background-color: #eeeeee;
        }

        .show-submenu:hover .submenu li {
            margin: 0;
            display: block;
            font-size: .8rem;
            padding: 0 1.5rem;
            text-decoration: none;
        }



/* SEZIONE HERO */

        .hero {
            padding-top: 5rem;
        }

        .hero h1 {
            font-size: 4.5rem;
            margin-bottom: 4.5rem;
        }

        .hero img {
            float: right;
            margin-left: 2rem;
            width: 70%;
            margin-bottom: -5rem;
            filter: drop-shadow(.5rem .5rem .5rem rgba(0,0,0,.5)); /* aggiunta un po' più di ombra anche se già presente nella png originale */
        }

        .hero p {
            margin: 2rem 0;
        }

        .hero svg {
            width: 2rem;
        }



/*SEZIONE SCELTA PIANO */

        /* radio buttons  simulati*/
        .scelta-fatturazione .radiobutton {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            vertical-align: middle;
            border: 1px solid lightgrey;
            border-radius: 50%;
            cursor: pointer;
        }

        .scelta-fatturazione .radiobutton:not(:first-child) {
            margin-left: 1.5rem;
        }

        .scelta-fatturazione .radiobutton-selected {
            border: .4rem solid #0061ff;
        }

        .scelta-fatturazione span {
            vertical-align: middle;
        }

        /* radio buttons con tags input e label
        .scelta-fatturazione input {
            vertical-align: middle;
        }

        .scelta-fatturazione label {
            margin-right: 1rem;
        }
        */

        /* box dei vari piani sottoscrivibili */

        .column {
            margin: 2rem -.5rem;
        }

        .box-planes .title-column {
            line-height: 2rem;
            border-bottom: 1px solid lightgrey;
            text-align: center;
        }

        .box-planes svg {
            height: 1rem;
            vertical-align: middle;
        }

        .box-planes span {
            vertical-align: middle;
        }

        .narrow-column {
            float: left;
            width: calc((100% - 3rem) / 3);
            margin: 0 .5rem;
            border: 1px solid lightgrey;
        }

        .wide-column {
            width: 100%;
            border: 1px solid lightgrey;
        }

        .content-column {
            padding: 1rem;
        }

        .narrow-column {
            min-height: 800px;
        }


        .content-column ul {
            list-style: none;
        }

        .content-column p {
            margin: 2rem 0;
        }

        .content-column hr {
            width: 30%;
            margin: 2rem 0;
            border: 1px solid lightgrey;
        }

        .content-column h2{
            font-size: 1.3rem;
        }

        .content-column h3 {
            font-size: 1.1rem;
        }

        .content-column span {
            font-size: 0.9rem;
            color: grey;
        }

        .content-column .centered {
            text-align: center;
        }

        .wide-column .content-column {
            padding-right: 30%;
        }

        .wide-column .content-column .top-right-corner {
            right: 1rem;
        }

        .wide-column .content-column p {
            margin-bottom: 0;
        }

        /* liste interne ai box con icone prese da Font Awesome inserite linkando la libreria CDN nell'head dell'HTML e mettendo le icone prima del testo utilizzando il selettore before (suggerimento di Henri durante la lezione) */
        
        .content-column ul {
            position: relative;
            margin: 2rem 0;
        }

        .content-column li {
            padding-left: 1.5rem;
            margin: 1rem 0;
        }

        .list-icon::before {
            font-family: "Font Awesome 5 Free";
            font-size: 1rem;
            line-height: 1.5rem;
            position: absolute;
            left: 0;
        }

        .list-icon-user::before {
            content: "\f007";
        }

        .list-icon-user-plus::before {
            content: "\f234";
            font-weight: 800;
        }

        .list-icon-folder::before {
            content: "\f07b";
        }

        .list-icon-pencil::before {
            content: "\f303";
            font-weight: 800;
        }

        .list-icon-smile::before {
            content: "\f118";
        }

        .list-icon-check::before {
            content: "\f00c";
            color: #0061ff;
            font-weight: 800;
        }



/* SEZIONE TROVA UN PARTNER */

        .trova-partner img {
            width: 50%;
            float: left;
        }

        .trova-partner-text {
            width: 50%;
            float:left;
            padding-top: 2rem;
            padding-left: 2rem;
        }

        .trova-partner-text p {
            margin: 2rem 0;
        }



/* SEZIONE FEATURES */

        .features {
            margin: 0 -1rem;
        }

        .feature-box {
            float: left;
            width: calc((100% - 6rem) / 3);
            height: 450px;
            overflow: hidden;
            margin: 0 1rem;
        }

        .feature-box img {
            width: 100%;
        }

        .feature-box p {
            padding: 1rem 0;
        }



/* SEZIONE RECENSIONI CLIENTI */

        .customers {
            height: 30vw; /* data altezza in vw per poter creare box quadrati che mantengono proporzioni al restringimento della pagina */
        }

        .customers .side-box {
            float: left;
            width: 30vw;
            height: 100%;
        }

        .customers .center-box {
            float: left;
            width: calc(100% - 60vw);
            padding: 2.5rem;
            background-color: #f5f5f5;
            overflow: auto;
            height: 100%;
        }

        .customers .center-box img {
            height: 2.5rem;
        }

        .customers .center-box hr {
            margin: 2rem 0;
            width: 4rem;
            color: lightgrey;
        }

        .customers .customer-box {
            float: left;
            width: 50%;
            height: 50%;
        }

        .customers .customer-box-selected {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: .8rem solid rgba(255,255,255,.5);
        }

        .customers .customer-box img {
            width: 50%;
            filter: invert(1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .customers .green {
            background-color: #a2d39b;
        }

        .customers .bordeaux {
            background-color: #61082b;
        }

        .customers .blue {
            background-color: #0093ce;
        }

        .customers .red-01 {
            background-color: #ff1c1c;
        }

        .customers .red-02 {
            background-color: #d5001f;
        }

        .customers .lightblue {
            background-color: #b4d0e7;
        }

        .customers .darkblue {
            background-color: #0d2481;
        }

        .customers .yellow {
            background-color: #ffd830;
        }



/* SEZIONE INIZIA PROVA GRATUITA */

        .start-trial {
            padding: 2rem 0;
        }

        .start-trial .column-half h2 {
            font-size: 2.3rem;
            color: #61082b;
}



/* SEZIONE DOMANDE FREQUENTI */

        .faq hr {
            width: 100%;
            color: grey;
        }

        .faq h3 {
            font-size: 1.1rem;
            padding: 1.5rem 0;
        }

        .faq p {
            color: grey;
        }

        .faq .question-row {
            position: relative;
        }

        .faq .question-row:hover {
            padding-bottom: 1.5rem;
            cursor: pointer;
        }

        .faq .question-row .question::after {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            right: 2rem;
        }

        .faq .question-row .answer {
            display: none;
        }

        .faq .question-row:hover .answer {
            display: inline;
        }

        .faq .question-row:hover .question::after {
            content: "\f106";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            right: 2rem;
        }



/* FOOTER */

        footer {
            background-color: black;
            color: white;
            padding-top: 3rem;
        }

        /* Menu a colonne nel footer */

        .footer-menu {
            margin-bottom: 3rem;
        }

        .footer-menu ul {
            list-style: none;
        }

        .footer-menu-column{
            float: left;
            width: 20%;
        }

        .footer-menu h3 {
            margin-bottom: 1.5rem;
        }
        .footer-menu li {
            margin-bottom: .5rem;
            font-size: .9rem;
        }

        .footer-menu a {
            color: white;
            text-decoration: none;
        }

        .footer-menu a:hover {
            text-decoration: underline;
        }

        /* linea orizzontale footer */

        footer hr {
            width: 100px;
            color: grey;
        }

        /* Selettore lingua */
        .language-selector {
            padding: 3rem 0 2rem 0;
            font-size: .9rem;
            color: grey;
        }

        .language-selector i {
            margin-right: .3rem;
        }