* { /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    scroll-behavior: smooth; /* scorrimento fluido dei link all'interno della pagina */
}

/* SELETTORI GENERALI */
.container-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.container-800 {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* CLEARFIX PER ELEMENTI FLOAT */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* BOTTONI */
.button {
    background-color: #0061ff;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #3b85ff;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 9
}

header .logo-header {
    line-height: 4rem;
    padding: 0 2.5rem 0 1rem;
    display: inline-block;
}

header .logo-header a{
    line-height: 4rem;
    display: inline-block;
}

header .logo-header img{
    height: 1.6rem;
    vertical-align: middle;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.top-menu ul {
    list-style: none;
    font-size: 0;
    display: inline-block;
}

.top-menu li {
    font-size: .9rem;
    font-weight: 600;
    display: inline-block;
    line-height: 4rem;
}

.top-menu li:hover {
    border-bottom: 2px solid #3c3c3c;
    margin-bottom: -2px;
}

.top-menu a {
    line-height: 4rem;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.top-menu-left {
    display: inline-block;
}

.top-menu-left li {
    margin-right: 2.5rem;
}

.top-menu-right {
    display: inline-block;
}

.top-menu-right li {
    margin-left: 2.5rem;
}

.start-button {
    display: inline-block;
    line-height: 4rem;
    padding: 0 1rem 0 2.5rem;
}

.start-button a {
    vertical-align: middle;
    font-size: .8rem;
}

/* SEZIONE HERO */
.hero {
    padding-top: 10rem;
    background-color: #b4d0e7;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.hero img {
    float: right;
    margin-left: 2rem;
    width: 70%;
    margin-bottom: -5rem;
    filter: drop-shadow(.5rem .5rem .5rem rgba(0,0,0,.5)); /* aggiunta un po' più di ombra anche se già presente nella png originale */
}

.hero p {
    margin: 2rem 0;
}

.hero svg {
    width: 2rem;
}

/* MAIN */

#main {
    margin-top: 5rem;
    padding-top: 5rem;
}

/*SEZIONE SCELTA PIANO */

/* RADIO BUTTONS */
.scelta-fatturazione input {
    vertical-align: middle;
}

.scelta-fatturazione label {
    margin-right: 1rem;
}

.column {
    margin: 2rem -1.5rem;
}

.column .title-column {
    line-height: 2rem;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.column svg {
    height: 1rem;
    vertical-align: middle;
}

.column span {
    vertical-align: middle;
}

.narrow-column {
    float: left;
    width: calc((100% - 9rem) / 3);
    margin: 0 1.5rem;
    border: 1px solid lightgrey;
}

.narrow-column .content-column {
    padding: 1rem;
}

.content-column ul {
    list-style: none;
}

.content-column li {
    position: relative;
}

.content-column li .text-after-icon {
    position: absolute;
    display: inline;
    left: 2rem;
}